<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="basket">
	<select id="selectBasketList" resultMap="basketBook">
		SELECT * FROM BASKET B
 		LEFT JOIN BOOK BO ON B.ISBN = BO.ISBN
 		WHERE B.MEMBER_ID = #{memberId}
 		ORDER BY BASKET_NO DESC
	</select>
	<resultMap type="basketBook" id="basketBook">
		<result column="basket_no" property="basketNo"/>
		<result column="member_id" property="memberId"/>
		<result column="isbn" property="isbn"/>
		<result column="book_amount" property="bookAmount"/>
		<result column="writer_name" property="writerName"/>
		<result column="book_title" property="bookTitle"/>
		<!-- <result column="book_publisher" property="bookPublisher"/>
		<result column="book_issue_date" property="bookIssueDate"/>
		<result column="book_page" property="bookPage"/> -->
		<result column="book_price" property="bookPrice"/>
		<result column="discount" property="discount"/>
		<result column="book_category" property="bookCategory"/>
		<result column="book_image" property="bookImage"/>
	</resultMap>
	
	<update id="updateBasket">
		UPDATE BASKET 
		SET BOOK_AMOUNT = #{bookAmount}
		WHERE BASKET_NO = #{basketNo}
	</update>
</mapper>